section.secao4 {
    margin: 70px;
    font-size: 20px;
    display: flex;
    gap: 100px;
    .img {
        width: 400px;
        height: 300px;
    }
    h4 {
        color:black;
    }
    .texto_secao4{
        gap: 70px;
        font-size: 22px;
    }
    h4.titulo_texto4{
        color: blue;
    }
}