.slider {
    max-width: 100%;
    height: 90vh;
    overflow: hidden;

    .slides {
        width: 100%;
        height: 100%;
        display: flex;
        transition: transform 0.5s ease-in-out;

        .slide {
            min-width: 100%;
            height: 100%;
            position: relative;

            img {
                height: 100%;
                width: 100%;
                filter: brightness(0.5);
                image-rendering: optimizeQuality;
            }

            &:first-child {
                p { top: 60px; }
            }

            p {
                color: #FFF;
                position: absolute;
                top: 30%;
                font-size: 100px;
                padding-left: 75px;

                @media (max-width: 768px) {
                    font-size: 30px;
                }
            }
        }
    }
}